<div class="container" *ngIf="!isLoading && !isAuthenticated" align="center">
  <img src="https://instagram.flis8-2.fna.fbcdn.net/v/t51.2885-19/s320x320/93614518_607370796517216_4394100664519622656_n.jpg?_nc_ht=instagram.flis8-2.fna.fbcdn.net&_nc_ohc=IOyPWGj4vk0AX_vBD54&tp=1&oh=0137d875c9ad859a832d323d97853392&oe=604A01BE" class="img-fuild">
  <h1 class="mt-5">Welcome! Please login to start trading</h1>
  <small>You'll be redirected to the login page in a few seconds</small>
</div>
<div class="container" *ngIf="isAuthenticated">
  <button type="button" class="btn btn-outline-primary float-right" [routerLink]='["/new-transaction"]' >Create transaction</button>
  <button type="button" class="btn btn-outline-success float-right mr-3" (click)="startMining()">Mine Pending Transactions</button>
  <h1>Blockchain</h1>
  <h3>Account balance: <span class="text-muted">{{balance}}</span> ElsaCoins</h3>
  <span>Current mining reward: {{miningReward}}</span>
  <div *ngIf="isMining">
    <label for="progress">Mining:</label>
    <progress class="d-block w-100"></progress>
  </div>
  <div class="container mt-5" style="overflow-x: scroll;">
    <div *ngFor="let block of blocks" class="d-inline-block">
      <div class="block-card">
        <div class="card-body">
          Block {{block.id}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>Hash</span>
            <div class="text-truncate" style="color:rgb(7, 146, 127)">
              <small>{{block?.hash?.length > 0 ? block.hash : '-'}}</small>
            </div>
            <span>Hash of previous block</span>
            <div class="text-truncate" style="color: rgb(205, 30, 157)">
              <small>{{block?.previousHash?.length > 0 ? block.previousHash : '-'}}</small>
            </div>
          </li>
          <li class="list-group-item">
            <span>Nonce</span>
            <div class="text-truncate">
              <small>{{block.nonce}}</small>
            </div>
          </li>
          <li class="list-group-item">
            <span>Timestamp</span>
            <div class="text-truncate">
              <small>{{block.timeStamp}}</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>